@inherits LayoutComponentBase
@using Constants

@inject IJSRuntime js

<div class="page">
    <div class="sidebar">
        <div class="sidebar-nav">
            <NavMenu />
        </div>
        <MediaPlayer />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<style>
    .sidebar {
        display: flex;
        flex-direction: column;
    }

    .sidebar-nav {
        flex: 1 1 auto;
    }
</style>