@inherits LayoutComponentBase
@using Constants

@inject IJSRuntime js

<div class="wrapper">
    <div class="top-header">
        <div class="navigation">
            <NavMenu />
        </div>
    </div>

    <div class ="main-content">
         @Body
    </div>
 

    <MediaPlayer />

    <div class="footer">
        
    </div>
</div>

<style>
    .wrapper{
        width: 100vw;
        height: 100vh;
        min-height: 100vh;
        margin: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    .top-header{
        flex-basis: 5vh;
    }

    .main-content {
        flex: 1 1 auto;
        display: flex;
    }

    .footer{
        flex-basis: 3vh;
    }

</style>