@using Constants

@inject IJSRuntime js

<div class="player-control-panel">
  
    <h4 class="info melody-title">Very big name for my own melody</h4>
    <h6 class="info author-name">author</h6>

    <div class="media-bar progress-bar">
        <div class="media-bar fill-bar">
        </div>
    </div>

    <div class="time-table">
        <span id="current-time-span">0:00</span>
        <span id="target-time-span">3:20</span>
    </div>

    <div class="d-flex justify-content-around">
        <button class="my-audio-control-button" @onclick="prevSong">
            <img src="/img/prev.png" />
        </button>

        <button class="my-audio-control-button" @onclick="pausePlay">
            <img id="state-pic" src="/img/play.png" />
        </button>

        <button class="my-audio-control-button" @onclick="nextSong">
            <img src="/img/next.png" />
        </button>
    </div>
</div>

@code {
    private void nextSong()
    {
        var id = CurrentPlaylist.NextMelody;

        js.InvokeVoidAsync("playMelody", [TunnelUrlData.Url, id]);

        CurrentPlaylist.CurrentMelody = id;
    }
    private void prevSong()
    {
        var id = CurrentPlaylist.PrevMelody;

        js.InvokeVoidAsync("playMelody", [TunnelUrlData.Url, id]);

        CurrentPlaylist.CurrentMelody = id;
    }
    private void pausePlay()
    {
        js.InvokeVoidAsync("changeState");
    }
}

<style>

    .player-control-panel {
        flex-basis: 15%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: floralwhite;
        opacity: 60%;
        border-radius: 20px 20px 0px 0px;
    }

    .info {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .melody-title {
        margin-left: 10%;
    }

    .author-name {
        margin-left: 20%;
        font-style: italic;
    }

    .media-bar {
        height: 8px;
        border-radius: 4px;
    }

    .progress-bar {
        background-color: dimgray;
        margin: 2%;
    }

    .fill-bar {
        position: absolute;
        width: 0%;
        background-color: yellow;  
    }

    .time-table {
        display: flex;
        justify-content: space-between;
        padding-inline: 20px;
    }

    .my-audio-control-button {
        border: 0;
        background-color: inherit;
    }

</style>