<div class="navigation-panel">
    <div class="my-nav-item">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All" >
            <img class="nav-link-img" src="/img/main.png" />
        </NavLink>
    </div>
    <div class="my-nav-item">
        <NavLink class="nav-link" href="authors" Match="NavLinkMatch.All">
            <img class="nav-link-img" src="/img/main.png" />
        </NavLink>
    </div>
</div>

<style>
    .navigation-panel{
        display: flex;
        flex: 1 1 auto;
        justify-content: center;
        align-content: center;
        border-radius: 0px 0px 10px 10px;
        background-color: silver;
    }

    .nav-link .nav-link-item {
        padding: 0;
        margin: 0;
        margin: auto;
        padding: inherit;
        justify-content: stretch;
        align-content: stretch;
    }

    .nav-link{
        padding: 10px;
    }

    .nav-link-img{
        height: 4vh;
    }

</style>