<div class="navigation-panel">
    <div class="my-nav-item">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span>
        </NavLink>
    </div>
    <div class="my-nav-item">
        <NavLink class="nav-link" href="authors" Match="NavLinkMatch.All">
            <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span>
        </NavLink>
    </div>
</div>

<style>
    .navigation-panel{
        background-color: darkslategray;
        display: flex;
        justify-content: center;
        align-content: center;
    }
</style>